
langchain
langchain-core
langchain-community
langgraph
langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-huggingface
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests

